* {
  margin: 0;
  padding: 0;
}

.main-screen {
  height: 100vh;
}

.main-screen .left-sec {
  background-image: url("./Assets/image_2023_09_21T07_44_21_953Z.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
}

.main-screen .right-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
}

h1 {
  color: red;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-7 {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(144, 113, 113, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}

/*ANimation starts*/
#container {
  width: 50vw;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  position: absolute;
  top: 30px;
}

.shape {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 200px;
  width: 200px;
  fill: transparent;
}

.shape-inner {
  fill: transparent;
  stroke: black;
  stroke-width: 3;
  opacity: 0.25
}

/*Animation Ends*/

.rules-section {
  border: 1px dotted;
  width: 500px;
  margin: 0 auto;
  color: white;
  padding: 36px;
  border-radius: 8px;
}

.main-section {
  /* background-color: darkslategrey; */
  background-color: #1c4040;
}

h2 {
  color: #fff;
  margin-top: 10px;
}

.button-section {
  margin-top: 50px;
}

.new-button {
  /* background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%) !important; */
  /* background-color: lightcoral !important; */
  background-color: #ae3333 !important;
  border: none;
  position: relative !important;
  z-index: 1300 !important;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff !important;
 text-decoration: none;
}




@media(max-width: 1200px){
  .rules-section {
    width: 475px;
  }
  .main-screen .right-sec {
    height: 75%;
  }

}

@media(max-width: 991px) {
  .main-screen .left-sec {
    background-position: center;
  }
  .rules-section {
    width: 350px;
  }
  .main-screen .right-sec {
    height: 85%;
  }

}
@media(max-width: 767px) {
  .main-screen .left-sec {
    height: 65vh;
    background-position: bottom;
  }
  .rules-section {
    width: 300px;
  }
}
    